<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.canteen.mapper.MenuItemMapper">
    <select id="selectByMenuId" resultType="com.example.canteen.entity.MenuItem">
        SELECT * FROM menu_item WHERE menu_id = #{menuId} ORDER BY sort_order
    </select>

    <select id="selectByMenuIds" resultType="com.example.canteen.entity.MenuItem">
        SELECT * FROM menu_item WHERE menu_id IN
        <foreach collection="menuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY menu_id, sort_order
    </select>
</mapper>
